@using BlazorImp.Models

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Материалы</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var navItem in SessionInfo.MenuItems)
        {
            <li class="nav-item px-3">
                <a @onclick=@(() => OnMenuItemClicked(navItem.StepNumber))>
                    <div class="nav-link">
                        @navItem.Caption
                    </div>
                </a>
            </li>
        }
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Parameter]
    public EventCallback<int> GoToPage { get; set; }

    [Parameter]
    public SessionInfo SessionInfo { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {

    }

    protected async Task OnMenuItemClicked(int stepNumber)
    {
        await GoToPage.InvokeAsync(stepNumber);
    }
}
