@page "/additioncourse"

@using Microsoft.EntityFrameworkCore
@using BlazorImp.Data

@inject IDbContextFactory<BlazorImpContext> DbFactory
@inject NavigationManager NavManager

<p>Введите номер участника:</p>

<input @bind="@ParticipantId" />

<button type="button" @onclick="StartSession">Начать</button>

@code {
    [Parameter]
    public int ParticipantId { get; set; }

    public async Task StartSession()
    {
        using var context = DbFactory.CreateDbContext();

        var session = await context.Session.SingleOrDefaultAsync(
            s => s.ParticipantID == ParticipantId);

        if (session != null)
        {
            NavManager.NavigateTo(session.CurrentPage);
        }
        else
        {
            // TODO: the first page for a session should be derived from the module's table in a database
            context.Session.Add(new Models.Session { ParticipantID = ParticipantId, CourseID = 1, CurrentPage = $"/Information/{ParticipantId}"});
            await context.SaveChangesAsync();
            NavManager.NavigateTo($"/Information/{ParticipantId}");
        }

    }
}
