@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="exampleModel.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    public class ExampleModel
    {
        public string Name { get; set; }
        public ExampleModel() { Name = "Roman"; }
    }

    private ExampleModel exampleModel = new ExampleModel();

    private void HandleValidSubmit()
    {

    }
}
