label, input {
    display: block;
    margin: auto;
    font-size: 1.6em;
    max-width: 100%;
}

.page {
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.main {
    flex: 1;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.login-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid white;
    background-color: white;
}

    .login-box > * {
        margin-bottom: 20px;
    }


.main-page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 2px solid white;
    background-color: white;
}

    .main-page > * {
        margin-bottom: 20px;
    }

.main-page-item {
    color: indigo;
    text-decoration: underline;
    font-size: 2.5em;
}

    .main-page-item:hover, .main-page-item:focus {
        text-decoration: none;
    }

    .main-page-item:active {
        color: blueviolet;
    }

.vertical-label {
    margin-bottom: 5px;
}

button {
    background-color: forestgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid white;
    font-size: 1.6em;
    max-width: 100%;
}

    button:active {
        outline: none;
        background-color: white;
        color: forestgreen;
        border: 2px solid forestgreen;
    }

    button:disabled, button[disabled] {
        background-color: darkgrey;
        color: dimgrey
    }

input:disabled, input[disabled] {
    background-color: darkgrey;
    color: dimgrey;
}
