@page "/Information"

<h3>@HeaderText</h3>

<p>@MainText</p>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int TutorialId { get; set; }

    public int SessionId { get; set; }

    private string HeaderText { get; set; } = "Информационная страница";

    private string MainText { get; set; } = "Здесь указана полезная информация";
}
