@inject NavigationManager NavManager

@using BlazorImp.Models

<h3>@Header</h3>

<p>@Body</p>


@code {
    [Parameter]
    public Content Content { get; set; }

    private string Header { get; set; } = "Информационная страница";

    private string Body { get; set; } = "Здесь указана полезная информация";
}
