@page "/question/{SessionId}"

@inject NavigationManager NavManager

<h3>Question</h3>

<QuestionComponent />

<AnswerComponent />

<NavigationComponent NextURI="@($"/information/{SessionId}")"/>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int QuestionId { get; set; }

    [Parameter]
    public string SessionId { get; set; }
}
