@page "/question"


<div>


    <div class="question-block">
        <div class="progress">
            <div class="task"></div>
            <div class="task"></div>
            <div class="task"></div>
            <div class="task"></div>
            <div class="task"></div>
            <div class="task"></div>
        </div>


    </div>

    
</div>

@code {


}
