@page "/tutorial/{SessionId}"

@inject NavigationManager NavManager

<h3>@HeaderText</h3>

@if (HasVideo)
{
    <VideoComponent />
}

<NavigationComponent NextURI="@($"/question/{SessionId}")"/>

@code {
    [Parameter]
    public int CourseId { get; set; }

    [Parameter]
    public int TutorialId { get; set; }

    [Parameter]
    public string SessionId { get; set; }

    private string HeaderText { get; set; } = "Обучающий материал";

    private bool HasVideo { get; set; } = true;
}
