@namespace BlazorImp.CustomComponents

@using BlazorImp.Models

<input placeholder="Напишите решение здесь" />
<button @onclick="SendAnswer" disabled="@(AttemptsLeft <= 0)">Ответить</button>
<p>@($"Осталось попыток: {AttemptsLeft}")</p>

@code {
    [Parameter]
    public int AttemptsLeft { get; set; } = 1;

    [Parameter]
    public string Answer { get; set; }

    public void SendAnswer()
    {
        AttemptsLeft -= 1;
    }
}
