@namespace BlazorImp.CustomComponents

@inject NavigationManager NavManager
@using BlazorImp.Models

<h3>NavigationComponent</h3>

<button type="button" @onclick="MoveForward">Продолжить</button>

@code {
    [Parameter]
    public Content Content { get; set; }

    [Parameter]
    public string NextURI { get; set; }


    public void MoveForward()
    {
        NavManager.NavigateTo(NextURI);
    }
}
