@namespace BlazorImp.CustomComponents

@using BlazorImp.Models 

<h4>@Header</h4>

<p>@Body</p>

@code {
    [Parameter]
    public string Header { get; set; };

    [Parameter]
    public string Body { get; set; };
}
