body {
}

/* Thanks to https://stackoverflow.com/users/2534840/orangutan for the wonderful snippet
located here: https://stackoverflow.com/a/60228328 */
.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    width: 300%; /* Make it wider than the browser */
    left: -100%; /* And then center */
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-wrapper {
    overflow: hidden;
    max-width: 100%;
    width: 560px;
}
